.row{
    padding: 20px;
}
div{ 
    background-color: rgb(107, 122, 209);
     text-align: center;
}
/*estilo de la foto de perfil*/
@media (min-width: 575px){ 
     #fotodeperfil{
           position: absolute;
           width: 15%;
           border-radius: 20%;
           box-shadow: 3px 3px 3px grey;
           left: 3%;
           top: 580px;
    }    
 }
 @media (max-width: 576px){ 
    #fotodeperfil{
          position: absolute;
          width: 40%;
          border-radius: 20%;
          box-shadow: 3px 3px 3px grey;
          left: 33%;
          top: 630px;
   }    
 }
/*etiqueta nombre*/
#nombre{
    font-weight: bold;
    margin-top: 33%;
}