<div class="row">
    <h1>EStudios</h1>
    <div class="col-lg-11">
         <ul>
              <li><h1>Educacion Basica 1</h1> - <h3>Años</h3></li>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Quam repellat nulla mo fugit  vero 
                <p>
         </ul>
         <ul>
            <li><h1>Secundaria</h1> - <h3>Años</h3></li>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
              Quam repellat nulla mo    vero 
              <p>
       </ul>
       <ul>
           <li><h1>Educacion Superior</h1> - <h3>Años</h3></li>
             <p>Lorem ipsum dolor sit amet,    consectetur     adipisicing elit. 
                  Quam repellat nulla mo fugit  vero 
              <p>
      </ul>
    </div>
</div>
